<div class="title">
  <h4>{{currentLanguageSet?.inventory?.benificiaryDetails}}</h4>
  <button md-icon-button tooltip="{{currentLanguageSet?.inventory?.close}}" [mdDialogClose]="false" class="pull-right exit width-20px">
    <md-icon>close</md-icon>
  </button>
</div>

<div class="scrolling-content">
  <div class="container-fluid">
    <section class="row m-t-10">
      <div class="col-xs-12">
        <md-card class="m-b-40">
          <md-card-content>
            <div class="row">
              <div class="col-xs-12">
                <section class="table-responsive">
                  <table [md2Data]="beneficiaryDetailsList" #md2="md2DataTable" [rowsPerPage]="5" [activePage]="1"
                    class="table table-striped responsive-table-view">
                    <caption></caption>  <!-- Table discription added SonarQube Fix -->
                    <thead>
                      <tr>
                        <th id="noValue"></th>
                        <th id="beneficiaryID">{{currentLanguageSet?.bendetails?.beneficiaryID}}</th>
                        <th id="beneficiaryName">{{currentLanguageSet?.bendetails?.beneficiaryName}}</th>
                        <th id="age">{{currentLanguageSet?.bendetails?.age}}</th>
                        <th id="gender">{{currentLanguageSet?.bendetails?.gender}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-template [ngIf]="beneficiaryDetailsList && beneficiaryDetailsList.length == 0">
                        <tr>
                          <td colspan="6" style="text-align: center; font-size: 16px">
                            <strong>{{currentLanguageSet?.inventory?.norecordsfound}}</strong>
                          </td>
                        </tr>
                      </ng-template>
                      <tr *ngFor="let beneficiary of md2.data" class="table-hover">
                        <td data-title="S.No." (click)="loadbeneficiaryDetails(beneficiary)">{{
                          beneficiaryDetailsList.indexOf(beneficiary)+1 }}</td>
                        <td data-title="Beneficiary ID" (click)="loadbeneficiaryDetails(beneficiary)">{{beneficiary?.beneficiaryID}}</td>
                        <td data-title="Beneficiary Name" (click)='loadbeneficiaryDetails(beneficiary)'>{{beneficiary?.firstName?
                          beneficiary?.firstName: "" + " "+ beneficiary?.lastName ? beneficiary?.lastName: ""}}</td>
                        <td data-title="Age" (click)='loadbeneficiaryDetails(beneficiary)'>{{beneficiary?.age}}</td>
                        <td data-title="Gender" (click)='loadbeneficiaryDetails(beneficiary)'>{{beneficiary?.m_gender?.genderName}}</td>
                      </tr>
                    </tbody>
                  </table>
                </section>
              </div>
            </div>
          </md-card-content>
        </md-card>
      </div>
    </section>
  </div>
</div>