<div class="title">
  <h4>{{title}}</h4>
  <button md-icon-button tooltip="{{currentLanguageSet?.inventory?.close}}" [mdDialogClose]="false" class="pull-right exit width-20px">
    <md-icon>close</md-icon>
  </button>
</div>
<div class="scrolling-content">
  <div class="container-fluid">
    <form [formGroup]='batchForm'>
      <div class="row m-t-10">
        <div class=" col-xs-6 col-sm-3">
            <div class="row m-t-10">
                <md-select class='input-full-width' name='itemName' id="itemName" formControlName='itemName' placeholder='{{currentLanguageSet?.inventory?.item}}'>
                  <md-option *ngFor='let item of filterItemList' [value]='item'>
                    {{item.itemName}}
                  </md-option>
                </md-select>
              </div>
        </div>
      </div>
      <md-dialog-content>
      <div class="row m-t-10">
        <div class="col-xs-12 col-sm-12">
          <div class="table-responsive">
            <table class="table table-striped responsive-table-form" aria-describedby="patientReturnBatchDetails">
              <caption></caption> <!-- Table discription added SonarQube Fix -->
              <thead>
                <tr>
                  <th id="sNo">{{currentLanguageSet?.inventory?.sNo}}</th>
                  <th id="batchNo">{{currentLanguageSet?.itemDispense?.batchNo}}</th>
                  <th id="issueQuantity">{{currentLanguageSet?.inventory?.issueQuantity}}</th>
                  <th id="dateOfIssue">{{currentLanguageSet?.inventory?.dateOfIssue}}</th>
                  <th id="returnQuantity">{{currentLanguageSet?.inventory?.returnQuantity}}</th>
                  <th id="action">{{currentLanguageSet?.bendetails?.action}}</th>
                </tr>
              </thead>
              <tbody formArrayName="batchList">
                <ng-container *ngFor="let batch of batchForm.controls['batchList']['controls']; let i=index; let isLast=last;">
                  <tr [formGroupName]="i">
                    <td class="vertical-align-middle"> {{ i+1 }} </td>
                    <td>
                      <md-select placeholder="{{currentLanguageSet?.itemDispense?.batchNo}}" class="input-full-width" formControlName="batchNo" name="batchNo" (change)='getQuantityAndFilterItem($event.value, i,batch)'
                        required>
                        <md-option *ngFor="let batchItem of filteredBatchList[i]" [value]="batchItem">{{ batchItem.batchNo }}</md-option>
                      </md-select>
                    </td>
                    <td>
                      <md-form-field class="input-full-width">
                        <input autocomplete="off" required placeholder="{{currentLanguageSet?.inventory?.issueQuantity}}" mdInput defaultNull allowText='number' name="issuedQuantity"
                          formControlName="issuedQuantity" [readonly]='true'>
                      </md-form-field>
                    </td>
                    <td>
                      <md2-datepicker class="input-full-width" [openOnFocus]="true" name='dateOfIssue' required placeholder="{{currentLanguageSet?.inventory?.dateOfIssue}}" id='dateOfIssue'
                        formControlName="dateOfIssue" [disabled]='true'></md2-datepicker>
                    </td>
                    <td>
                      <md-form-field class="input-full-width">
                        <input autocomplete="off" required placeholder="{{currentLanguageSet?.inventory?.returnQuantity}}" mdInput defaultNull allowText='number' [attr.maxlength]="(''+batch.value.issuedQuantity).length"
                          [disableFormControl]="!batch.value.batchNo" name="returnQuantity" formControlName="returnQuantity"
                           (blur)='checkQuantity(batch)' required>
                      </md-form-field>
                    </td>
                   
                    <td class="text-right">
                      <md-icon class="icon-remove cursorPointer" tooltip="{{currentLanguageSet?.inventory?.delete}}" (click)="removeBatch(i, batch)">delete</md-icon>
                    </td>
                  </tr>
                </ng-container>
                <tr *ngIf="batchForm.controls['batchList'].valid">
                  <td colspan="6">
                    <button class="pull-right" md-mini-fab color="primary" id='addBatch' (click)="addBatch()">
                      <md-icon class="md-18 cursorPointer">add</md-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
</md-dialog-content>
      <div class="row m-t-10 m-b-10">
        <div class="col-xs-12 actionButton">
          <button md-raised-button *ngIf='editBatchList?.batchList?.length == 0' color="primary" type="button" [disabled]='!batchForm.valid'
            (click)='saveAndUpdateItem()'>{{currentLanguageSet?.common?.save}}</button>
          <button md-raised-button *ngIf='editBatchList.batchList.length > 0' [disabled]='!batchForm.valid' color="primary" type="button"
            (click)='saveAndUpdateItem()'>{{currentLanguageSet?.inventory?.update}}</button>
        </div>
      </div>
    </form>
  </div>
</div>