.input-full-width {
  width: 100%;
}

.box {
  height: 70px;
}

.inline-block {
  display: inline-block;
}

.mat-card {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.m-b-40 {
  margin-bottom: 40px;
}

.mat-form-field {
  line-height: unset !important;
}

.m-l-5 {
  margin-left: 5px;
}

@media screen and (max-width: 768px) {
  .button-full-width {
    width: 100%;
    /* height: 50px; */
    margin-top: 3px;
  }
  .box{
    height: 60px;
  }
}