<div class="container-fluid">
  <div class="row">
    <form [formGroup]='manualItemDispenseForm'>
      <div class="col-xs-12 col-sm-6 col-md-3 box">
        <md-form-field class="input-full-width">
          <input mdInput autocomplete="off" autofocus="false" itemDispense [stockForm]="manualItemDispenseForm" [dispenseItemList]='manualDispenseList'
            name="itemName" formControlName="itemName" placeholder='{{currentLanguageSet?.inventory?.item}}' (keyup)='resetDependent()' maxlength="100" required>
          <md-icon *ngIf="!(manualItemDispenseForm.controls['itemName'].disabled)" class="search-btn" mdSuffix itemDispense [stockForm]="manualItemDispenseForm"
            [dispenseItemList]='manualDispenseList' name="itemName">search</md-icon>
        </md-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 box">
        <md-form-field class="input-full-width">
          <input autocomplete="off" mdInput defaultNull allowText='number' name="quantityInHand" placeholder="{{currentLanguageSet?.inventory?.quantityOnHand}}" formControlName="quantityInHand"
            [readonly]='true' required>
        </md-form-field>
      </div>
    </form>
  </div>

  <div class="row" *ngIf="manualDispenseList?.length > 0">
    <div class="col-xs-12">
      <h4>{{currentLanguageSet?.inventory?.dispensingItem}}</h4>
    </div>

    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-bordered table-striped" [md2Data]="manualDispenseList" #md2="md2DataTable" aria-describedby="medicineDispenseDetails">
          <caption></caption>  <!-- Table discription added SonarQube Fix -->
          <thead>
            <tr>
              <th id ="sNo" class="width-percent-5">{{currentLanguageSet?.inventory?.sNo}}</th>
              <th id ="item" class="width-percent-10">{{currentLanguageSet?.inventory?.item}}</th>
              <th id ="quantityOnHand" class="width-percent-10">{{currentLanguageSet?.inventory?.quantityOnHand}}</th>
              <th id ="quantityDispensed" class="width-percent-10">{{currentLanguageSet?.itemDispense?.quantityDispensed}}</th>
              <th id ="batchNo" class="width-percent-10">{{currentLanguageSet?.itemDispense?.batchNo}}</th>
              <th id ="quantityOnHand" class="width-percent-10">{{currentLanguageSet?.inventory?.quantityOnHand}}</th>
              <th id ="expiryDate" class="width-percent-10">{{currentLanguageSet?.itemDispense?.expiryDate}}</th>
              <th id ="quantityDispensed" class="width-percent-10">{{currentLanguageSet?.itemDispense?.quantityDispensed}}</th>
              <th id ="edit" class="width-percent-10">{{currentLanguageSet?.bendetails?.edit}}</th>
              <th id ="delete" class="width-percent-10">{{currentLanguageSet?.inventory?.delete}}</th>
            </tr>
          </thead>
          <tbody *ngIf="manualDispenseList?.length > 0">
            <ng-container *ngFor="let item of md2.data; let i = index">
              <tr>
                <td class="width-percent-5">{{ manualDispenseList.indexOf(item)+1 }}</td>
                <td class="width-percent-10">{{item?.itemName}}</td>
                <td class="width-percent-10">{{item?.quantityInHand}}</td>
                <td class="width-percent-10">{{item?.quantityDispensed}}</td>
                <td colspan="4" class="noPadding">
                  <table class="table inner_table table-striped" aria-describedby="medicineDispenseDetails">
                    <caption></caption>  <!-- Table discription added SonarQube Fix -->
                    <th id ="noValue"></th>
                    <tr *ngFor='let batch of item?.batchList'>
                      <td class="width-percent-25">{{batch?.batchNo?.batchNo}}</td>
                      <td class="width-percent-25">{{batch?.quantityOnBatch}}</td>
                      <td class="width-percent-25">{{batch?.expiryDate | date: 'dd/MM/yyyy'}}</td>
                      <td class="width-percent-25">{{batch?.quantityOfDispense}}</td>
                    </tr>
                  </table>
                </td>
                <td class="width-percent-10">
                  <md-icon mdTooltip="{{currentLanguageSet?.bendetails?.edit}}" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor:Pointer" (click)='editItem(item,i)'>edit</md-icon>
                </td>
                <td class="width-percent-10">
                  <md-icon class="icon-remove cursorPointer" tooltip="{{currentLanguageSet?.inventory?.delete}}" (click)='removeManualDispenseItem(i)'>delete</md-icon>
                </td>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button md-raised-button class="pull-right " *ngIf='manualDispenseList.length > 0' color="accent" type="button" [disabled]='!(manualDispenseList.length > 0)'
        (click)='save(false)'>{{currentLanguageSet?.common?.save}}</button>
      <button md-raised-button class="pull-right m-r-5" *ngIf='manualDispenseList.length > 0' color="accent" type="button" [disabled]='!(manualDispenseList.length > 0)'
        (click)='save(true)'>{{currentLanguageSet?.inventory?.saveAndPrint}}</button>
    </div>
  </div>
</div>