.input-full-width {
    width: 100%;
}

.width-percent-5 {
    width: 5%
}

.width-percent-10 {
    width: 10%
}

.inner_table {
    margin-bottom: 0px;
}

.noPadding {
    padding: 0px;
}

.width-percent-25 {
    width: 25%;
}

.m-r-5 {
    margin-right: 5px;
}

.box {
    height: 70px;
}

.search-btn {
    cursor: pointer;
}
