<div class="title">
  <h4>{{currentLanguageSet?.inventory?.itemForIndentRequest}}</h4>
  <button md-icon-button mdDialogClose tooltip="{{currentLanguageSet?.inventory?.close}}" class="pull-right exit width-20px">
    <md-icon>close</md-icon>
  </button>
</div>

<div class="container-fluid">
  <div class="row m-t-10 no-gutters">
    <div class="col-xs-12 col-sm-6">
      <md-form-field class="input-full-width">
        <input autocomplete="off" allowText = "itemNameSearchValidator" mdInput placeholder="{{currentLanguageSet?.inventory?.itemNameCode}}" maxlength="100" [(ngModel)]="input.searchTerm" (keyup.enter)="search(input.searchTerm)">
      </md-form-field>
    </div>
    <div class="col-xs-12 col-sm-6">
      <button class="search-btn" md-raised-button color="accent" type="button" (click)="search(input.searchTerm)">{{currentLanguageSet?.inventory?.search}}</button>
    </div>
  </div>

  <md-dialog-content>
    <div class="table-responsive">
      <table class="table table-bordered table-striped responsive-table-view" [md2Data]="items | async" #md2="md2DataTable" [rowsPerPage]="5"
        [activePage]="1" aria-describedby="itemListDetails">
        <caption></caption>  <!-- Table discription added SonarQube Fix -->
        <thead>
          <tr>
            <th id="itemCode">{{currentLanguageSet?.inventory?.itemCode}}</th>
            <th id="itemName">{{currentLanguageSet?.inventory?.itemName}}</th>
            <th id="itemCategory">{{currentLanguageSet?.inventory?.itemCategory}}</th>
            <th id="itemForm">{{currentLanguageSet?.inventory?.itemForm}}</th>
            <th id="strength">{{currentLanguageSet?.inventory?.strength}}</th>
            <th id="quantityOnHand">{{currentLanguageSet?.inventory?.quantityOnHand}}</th>
            <th id="action">{{currentLanguageSet?.inventory?.action}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of md2.data; let i = index">
            <td data-title="Item Code">{{item?.itemCode}}</td>
            <td data-title="Item Name">{{ item?.itemName }} </td>
            <td data-title="Item Category">{{ item?.itemCategory }} </td>
            <td data-title="Item Form">{{ item?.itemForm }} </td>
            <td data-title="Strength">{{ item?.strength ? item?.strength : " "}} </td>
            <td data-title="Quantity On Hand">{{ item?.qoh }} </td>
            <td class="text-center">
              <md-checkbox (change)="selectItem($event, item)" [checked]="disableSelection(item) || item.selected" [disabled]="disableSelection(item)"></md-checkbox>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="10" class="text-right">
              <md2-pagination></md2-pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </md-dialog-content>
  <div class="row m-t-10 m-b-10">
    <div class="col-xs-12">
      <button md-raised-button class="pull-right" (click)="submitIndentList()" [disabled]="selectedItemList.length == 0" color="primary">
        {{currentLanguageSet?.inventory?.submit}}
      </button>
    </div>
  </div>
</div>