.stepper {
  margin-bottom: 100px;
}

.mat-stepper-horizontal {
  padding: 0px;
  background: #f2f2f0 !important;
}

.mat-horizontal-stepper-header-container {
  background: #f2f2f0 !important;
}

.step-btn button {
  float: right;
  margin-left: 5px;
}

md-card {
  min-height: 425px;
}


.example-sidenav-fab-container {
  width: 100%;
  overflow: auto;
}

.sideNav {
  max-width: 250px;
  display: flex;
}

.example-scrolling-content {
  flex: auto;
  /* overflow: auto; */
  background: #f2f2f0 !important;
  min-height: 500px;
}

.sidenav {
  padding: 20px;
}

.content {
  background: #f2f2f0 !important;
  padding: 20px 0px;
}

.example-fab.mat-mini-fab {
  position: fixed;
  left: 20px;
  bottom: 50px;
  z-index: 3;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 700px) {


  .example-sidenav-fab-container{
    height: stretch;
  }

  .sideNav {
    max-width: unset;
    width: 50%;
  }

  .example-sidenav-fab-container .content {
    height: stretch;
  }
}

.actionButton {
  float: right;
}
