<section class="container-fluid">
  <section class="row m-t-10 no-gutters">

    <div class="col-xs-12 col-sm-6">
      <h4>{{currentLanguageSet?.inventory?.indentRequest}}</h4>
    </div>
  </section>
  <form [formGroup]="indentRequestForm" autocomplete="off">
    <div class="row m-t-10">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md2-datepicker class="input-full-width" autocomplete="off" placeholder="{{currentLanguageSet?.inventory?.indentDate}}" name="requestDate" formControlName="requestDate" [disabled]='true'></md2-datepicker>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-form-field [style.width]=" '100%' ">
          <input required="true" mdInput placeholder="{{currentLanguageSet?.inventory?.referenceNo}}" allowText="alphanumeric" maxlength="20" formControlName="referenceNumber">
        </md-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-form-field [style.width]=" '100%' ">
          <input required="true" mdInput placeholder="{{currentLanguageSet?.inventory?.reason}}" allowText="alphanumericspace" maxlength="250" formControlName="indentReason">
        </md-form-field>
      </div>
    </div>
    <div class="row m-t-10">
      <div class="col-xs-12">
        <md-card>
          <div class="table-responsive">
            <table class="table table-striped responsive-table-form" aria-describedby="indentRequestDetails">
              <caption></caption>  <!-- Table discription added SonarQube Fix -->
              <thead>
                <tr>
                  <th class="width5" id=""></th>
                  <th class="width15" id="itemName">{{currentLanguageSet?.inventory?.itemName}}</th>
                  <th class="width15" id="quantityOnHand">{{currentLanguageSet?.inventory?.quantityOnHand}}</th>
                  <th class="width10" id="requiredQuantity">{{currentLanguageSet?.inventory?.requiredQuantity}}</th>
                  <th class="width10" id="remarks">{{currentLanguageSet?.inventory?.remarks}}</th>
                  <th class="width5" id=""></th>
                </tr>
              </thead>
              <tbody formArrayName="indentItemList">
                <ng-container *ngFor="let itemList of indentRequestForm.controls['indentItemList']['controls']; let i = index; let isLast=last;">
                  <tr [formGroupName]="i">
                    <td class="vertical-align-middle"> {{ i+1 }} </td>
                    <td>
                      <md-form-field class="input-full-width">
                        <input mdInput allowText = "itemNameSearchValidator" placeholder="{{currentLanguageSet?.inventory?.itemName}}" name="itemNameView" formControlName="itemNameView" maxlength="100" appIndentRequest
                          [previousSelected]="indentRequestForm?.value?.indentItemList" [itemListForm]="itemList" required>
                        <md-icon *ngIf="!(itemList.controls['itemNameView'].disabled)" appIndentRequest [previousSelected]="indentRequestForm?.value?.indentItemList"
                          [itemListForm]="itemList" class="search-btn" mdSuffix>search</md-icon>
                      </md-form-field>
                    </td>
                    <td>
                      <md-form-field class="input-full-width readonly">
                        <input mdInput allowText="number" placeholder="{{currentLanguageSet?.inventory?.qOH}}" name="qOH" formControlName="qOH" required readonly>
                      </md-form-field>
                    </td>
                    <td>
                      <md-form-field class="input-full-width">
                        <input mdInput allowText="number" placeholder="{{currentLanguageSet?.inventory?.quantityRequired}}" name="requiredQty" formControlName="requiredQty" [attr.maxlength]="(''+itemList.value.quantityOnHand).length"
                          (blur)='checkQuantity(itemList)' required>
                      </md-form-field>
                    </td>
                    <td>
                      <md-form-field class="input-full-width">
                        <input mdInput placeholder="{{currentLanguageSet?.inventory?.remarks}}" name="remarks" formControlName="remarks" allowText="alphanumericspace">
                      </md-form-field>
                    </td>
                    <td class="text-right">
                      <md-icon class="icon-remove cursorPointer" mdTooltip="{{currentLanguageSet?.inventory?.delete}}" (click)="removeFromindentItemList(i, itemList)">delete</md-icon>
                    </td>
                  </tr>
                </ng-container>
                <tr *ngIf="indentRequestForm.controls['indentItemList'].valid">
                  <td colspan="6">
                    <button md-mini-fab type="button" class="pull-right" color="primary" (click)="addToindentItemList()">
                      <md-icon>add</md-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </md-card>
      </div>
    </div>
    <div class="row m-t-10 m-b-40">
      <div class="col-xs-12">
        <button type="button" class="pull-left" color="primary" md-raised-button mdTooltip="{{currentLanguageSet?.inventory?.back}}" mdTooltipPosition="right" (click)="goBack()">
          {{currentLanguageSet?.inventory?.back}} </button>
        <button type="button" md-raised-button color="accent" class="pull-right m-r-5" *ngIf="!editMode" [disabled]="indentRequestForm.invalid" (click)="submitIndentRequest(indentRequestForm)">{{currentLanguageSet?.common?.save}}</button>
        <button type="button" md-raised-button color="accent" class="pull-right m-r-5" *ngIf="editMode" [disabled]="indentRequestForm.invalid" (click)="updateIndentRequest(indentRequestForm)">{{currentLanguageSet?.inventory?.update}}</button>
        <button type="button" md-raised-button color="primary" class="pull-right m-r-5" [disabled]="indentRequestForm.pristine" (click)="resetIndentRequestForm()">{{currentLanguageSet?.inventory?.clear}}</button>
      </div>
    </div>
  </form>
</section>