<section class="container-fluid">
  <section class="row m-t-10 no-gutters">

    <div class="col-xs-12 col-sm-6">
      <h4>{{currentLanguageSet?.inventory?.subStoreIndentOrderWorklist}}</h4>
    </div>
    <div class="col-xs-12 col-sm-6">
      <button md-raised-button class="pull-right button-full-width" type="button" color="primary" (click)='routeToRaiseRequest()'>{{currentLanguageSet?.inventory?.raiseRequest}}</button>
    </div>

  </section>

  <section class="row m-t-20">
    <div class="col-xs-12">
      <md-card>
        <md-card-content>
          <div class="row">
            
            <div class="col-xs-12 m-t-10">
              <div class="table-responsive">
                <table [md2Data]="substoreOrderlist" #md2="md2DataTable" [rowsPerPage]="5" [activePage]="1" class="table table-striped responsive-table-view" aria-describedby="subStoreDetails">
                  <caption></caption>  <!-- Table discription added SonarQube Fix -->
                  <thead>
                    <tr class="text-nowrap">
                      <th class="width5" id=""></th>
                      <th class="width15" id="indentID">{{currentLanguageSet?.inventory?.indentID}}</th>
                      <th class="width15" id="referenceNo">{{currentLanguageSet?.inventory?.referenceNo}}</th>
                      <th class="width15" id="requestDate" md2SortBy="createdDate">{{currentLanguageSet?.inventory?.requestDate}}</th>
                      <th class="width10" id="view">{{currentLanguageSet?.inventory?.view}}</th>
                      <th class="width10" id="edit">{{currentLanguageSet?.bendetails?.edit}}</th>
                      <th class="width15" id="action">{{currentLanguageSet?.bendetails?.action}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let orderlist of md2.data" class="table-hover">
                      <td data-title="S.No.">{{ substoreOrderlist.indexOf(orderlist)+1 }}</td>
                      <td data-title="Indent ID">{{orderlist?.indentID}}</td>
                      <td data-title="Reference No.">{{orderlist?.refNo}}</td>
                      <td data-title="Request Date">{{orderlist?.createdDate | utcDate | date : 'dd/MM/yyyy' }}</td>
                      <td data-title="View">
                        <md-icon (click)="viewItemListDetails(orderlist)">remove_red_eye</md-icon>
                      </td>
                      <td data-title="Edit">
                        <md-icon *ngIf="orderlist.status == 'Pending' && (orderlist.processed == 'N' || orderlist.processed == 'U')" (click)="goToUpdateIndentRequest(orderlist)">edit</md-icon>
                      </td>
                      <td>
                        <button md-raised-button class="button-full-width" type="button" color="accent" *ngIf="orderlist.status == 'Issued'" (click)="receiveIndent(orderlist)">{{currentLanguageSet?.inventory?.receive}}</button>
                        <button md-raised-button class="button-full-width" type="button" color="primary" *ngIf="orderlist.status == 'Pending'" (click)="cancelIndent(orderlist)">{{currentLanguageSet?.inventory?.cancel}}</button>
                        <button md-raised-button class="button-full-width" type="button" color="primary"  *ngIf="orderlist.status == 'Cancelled'" [disabled]='true'>{{currentLanguageSet?.inventory?.cancelled}}</button>
                        <button md-raised-button class="button-full-width" type="button" color="primary"  *ngIf="orderlist.status == 'Closed'" [disabled]='true'>{{currentLanguageSet?.inventory?.closed}}</button>
                        <button md-raised-button class="button-full-width" type="button" color="primary"  *ngIf="orderlist.status == 'Rejected'" [disabled]='true'>{{currentLanguageSet?.inventory?.rejected}}</button>
                      </td>
                    </tr>
                      <tr *ngIf="substoreOrderlist.length == 0">
                        <td colspan="6" style="text-align: center; font-size: 16px">
                          <strong>{{currentLanguageSet?.inventory?.norecordsfound}}</strong>
                        </td>
                      </tr>
                  </tbody>
                  <tfoot>
                    <tr *ngIf="substoreOrderlist.length > 0">
                      <td colspan="4" class="total-count">
                        <div> {{currentLanguageSet?.inventory?.totalCount}} : {{ substoreOrderlist.length }}</div>
                      </td>
                      <td colspan="3" style="text-align:right">
                        <md2-pagination></md2-pagination>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </section>
</section>