.circle {
  position: relative;
  padding: 0;
  width: 300px;
  height: 100px;
  z-index: 1;
  cursor: pointer;
  background: #3175c0;
  color: white;
}

.width310px {
  width: 310px;
  cursor: pointer;
}

.line-height-72 {
  line-height: 72px !important;
}

.f-s-48 {
  font-size: 48px;
}

.f-s-20 {
  font-size: 20px;
}

.f-c-w {
  color: white
}

.p-l-15 {
  padding-left: 15px;
}

.p-t-15 {
  padding-top: 15px;
}

#store {
  font-size: 7em;
  color: white;
  margin-left: -70px;
}