@media print {
    body {
        background: white;
        font-size: 14px;
    }
    .non-printable {
        display: none;
    }
    .page-break {
        page-break-after: always;
    }
    @page {
        margin: 1.3cm;
    }
}

.table-no-border tr, th, .table-no-border tr td, .table-no-border thead tr th, .table-no-border tbody tr th, .table-no-border tbody tr td {
    border: none;
}

#logo {
    width: 90px;
}

.container {
    background: white;
    padding-top: 10px;
}

.bg-unset{
    background: unset;
}

.example-fab.mat-mini-fab {
    position: fixed;
    right: 20px;
    z-index: 3;
}

.upward {
    bottom: 30px;
}

.print {
    bottom: 80px;
}

.back {
    bottom: 130px;
}

.select {
    bottom: 180px;
}