<div class="title">
  <h4>{{currentLanguageSet?.inventory?.advanceBeneficiarySearch}}</h4>
  <button md-icon-button tooltip="{{currentLanguageSet?.inventory?.close}}" mdDialogClose class="pull-right exit width-20px">
    <md-icon>close</md-icon>
  </button>
</div>

<div class="scrolling-content">
  <section class="container-fluid">
    <form #newSearchForm="ngForm">
      <section class="row">
        <div class="col-xs-12 col-sm-3 box">
          <md-input-container [style.width]="'100%'">
            <input autocomplete="off" mdInput allowText="alphabet" placeholder="{{currentLanguageSet?.inventory?.firstName}}" required="true" name="firstName" [(ngModel)]="beneficiary.firstName"
              #firstNameV="ngModel" minlength="2" maxlength="50">
            <md-error *ngIf="firstNameV?.errors?.required">{{currentLanguageSet?.inventory?.firstNameIsRequired}}</md-error>
            <md-error *ngIf="firstNameV?.errors?.minlength">{{currentLanguageSet?.inventory?.minimumLength}}</md-error>
          </md-input-container>
        </div>

        <div class="col-xs-12 col-sm-3 box">
          <md-input-container myName [style.width]="'100%'">
            <input autocomplete="off" mdInput allowText="alphaspace" placeholder="{{currentLanguageSet?.inventory?.lastName}}" name="lastName" [(ngModel)]="beneficiary.lastName"
              #lastNameV="ngModel" minlength="1" maxlength="50">
          </md-input-container>
        </div>
      </section>

      <section class="row">
        <div class="col-xs-12 col-sm-3 box">
          <md-select class="p-t-12" required [style.width]="'100%'" placeholder="{{currentLanguageSet?.bendetails?.gender}}" name="gender" [(ngModel)]="beneficiary.gender">
            <md-option *ngFor="let gender of genders" [value]="gender.genderID">{{gender.genderName}} </md-option>
          </md-select>
        </div>
        <div class="col-xs-12 col-sm-3 box">
          <md-select class="p-t-12" (change)="onStateChange()" required [style.width]="'100%'" placeholder="{{currentLanguageSet?.inventory?.state}}" name="state" [(ngModel)]="beneficiary.stateID">
            <md-option *ngFor="let state of states" [value]="state.stateID">{{state.stateName | titlecase }} </md-option>
          </md-select>
        </div>
        <div class="col-xs-12 col-sm-3 box">
          <md-select class="p-t-12" required [disabled]="!beneficiary.stateID" [style.width]="'100%'" placeholder="{{currentLanguageSet?.inventory?.district}}" name="district"
            [(ngModel)]="beneficiary.districtID">
            <md-option *ngFor="let district of districts" [value]="district.districtID">{{district.districtName | titlecase}} </md-option>
          </md-select>
        </div>
        <div class="col-xs-12 box">
          <button [disabled]="newSearchForm.invalid" md-raised-button class="pull-right m-r-5" color="accent" type="button" (click)="getSearchResult()">{{currentLanguageSet?.inventory?.search}}</button>
          <button md-raised-button color="primary" class="pull-right m-r-5" type="button" (click)="resetBeneficiaryForm()">{{currentLanguageSet?.inventory?.clear}}</button>
        </div>
      </section>
    </form>

    <section class="row m-b-30">
      <div class="col-xs-12">
        <div class="table-responsive">
          <table [md2Data]="filteredBeneficiaryList" #md2="md2DataTable" [rowsPerPage]="5" [activePage]="1" class="table table-striped responsive-table-view" aria-describedby="registeredSearchDetails">
            <caption></caption><thead>
              <tr>
                <th id="noValue"></th>
                <th id="beneficiaryID">{{currentLanguageSet?.bendetails?.beneficiaryID}}</th>
                <th id="beneficiaryName">{{currentLanguageSet?.bendetails?.beneficiaryName}}</th>
                <th id="gender">{{currentLanguageSet?.bendetails?.gender}}</th>
                <th id="dOB">{{currentLanguageSet?.inventory?.dOB}}</th>
                <th id="fatherName">{{currentLanguageSet?.inventory?.fatherName}}</th>
                <th id="districtVillage">{{currentLanguageSet?.bendetails?.district}}</th>
                <th id="phoneNo">{{currentLanguageSet?.bendetails?.phoneNo}}</th>
                <th id="regDate">{{currentLanguageSet?.bendetails?.regDate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="md2.data?.length === 0">
                <td colspan="9" style="text-align: center; font-size: 16px">
                  <strong>{{currentLanguageSet?.inventory?.norecordsfound}}</strong>
                </td>
              </tr>
              
              <tr *ngFor="let beneficiary of md2.data" class="table-hover">
                <td data-title="S.No">{{ filteredBeneficiaryList.indexOf(beneficiary)+1 }}</td>
                <td data-title="Beneficiary ID" (click)="checkVisit(beneficiary?.beneficiaryID)">{{beneficiary?.beneficiaryID}}</td>
                <td data-title="Beneficiary Name" (click)="checkVisit(beneficiary?.beneficiaryID)">{{beneficiary?.benName | titlecase}}</td>
                <td data-title="Gender" (click)="checkVisit(beneficiary?.beneficiaryID)">{{beneficiary.genderName}}</td>
                <td data-title="DOB" (click)="checkVisit(beneficiary?.beneficiaryID)">{{beneficiary.age | date: 'dd/MM/yyyy' }}</td>
                <td data-title="Father Name" (click)="checkVisit(beneficiary?.beneficiaryID)">{{beneficiary.fatherName | titlecase }}</td>
                <td data-title="District / Village" (click)="checkVisit(beneficiary?.beneficiaryID)">{{beneficiary.districtName | titlecase }} / {{beneficiary.villageName | titlecase}}</td>
                <td data-title="Phone No" (click)="checkVisit(beneficiary?.beneficiaryID)">{{beneficiary.phoneNo}}</td>
                <td data-title="Registration Date" (click)="checkVisit(beneficiary?.beneficiaryID)">{{beneficiary.registeredOn | date: 'dd/MM/yyyy' }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr *ngIf="filteredBeneficiaryList?.length > 0">
                <td colspan="2" class="total-count">
                  <div> {{currentLanguageSet?.inventory?.totalCount}} : {{ filteredBeneficiaryList.length }}</div>
                </td>
                <td colspan="7">
                  <md2-pagination></md2-pagination>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </section>
  </section>
</div>