<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <section class="table-responsive">
        <table [md2Data]="mainStoreItemListForDispense" #md2="md2DataTable" [rowsPerPage]="5" [activePage]="1" class="table table-striped responsive-table-view" aria-describedby="systemDispenseDetails">
          <caption></caption>  <!-- Table discription added SonarQube Fix -->
          <thead>
            <tr>
              <th id=""></th>
              <th id="itemName">{{currentLanguageSet?.inventory?.itemName}}</th>
              <th id="requiredQuantity">{{currentLanguageSet?.inventory?.requiredQuantity}}</th>
              <th id="remarks">{{currentLanguageSet?.inventory?.remarks}}</th>
              <th id=""></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of md2.data">
              <td data-title="S.No.">{{ mainStoreItemListForDispense.indexOf(item)+1 }}</td>
              <td data-title="Item Name">{{item?.itemName}}</td>
              <td data-title="Required Quantity">{{item?.requiredQty}}</td>
              <td data-title="Remarks">{{item?.remarks}}</td>
              <td class="text-center">
                <button md-raised-button (click)="allocateBatch(item)" [disabled]="item.selectedFlag" color="primary">{{currentLanguageSet?.inventory?.allocateBatch}}</button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr *ngIf="mainStoreItemListForDispense.length > 0">
              <td colspan="3" class="total-count">
                <div> {{currentLanguageSet?.inventory?.totalCount}} : {{ mainStoreItemListForDispense.length }}</div>
              </td>

              <td colspan="2" style="text-align: right">
                <md2-pagination></md2-pagination>
              </td>
            </tr>
          </tfoot>
        </table>
      </section>
    </div>
  </div>

  <div class="row" *ngIf="systemDispenseList?.length > 0">
    <div class="col-xs-12">
      <h4>{{currentLanguageSet?.inventory?.dispensingItem}}</h4>
    </div>

    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-bordered table-striped" [md2Data]="systemDispenseList" #md2="md2DataTable" aria-describedby="systemDispenseDetails">
          <caption></caption>  <!-- Table discription added SonarQube Fix -->
          <thead>
            <tr>
              <th id="sNo" class="width-percent-5">{{currentLanguageSet?.inventory?.sNo}}</th>
              <th id="item" class="width-percent-10">{{currentLanguageSet?.inventory?.item}}</th>
              <th id="quantityOnHand" class="width-percent-10">{{currentLanguageSet?.inventory?.quantityOnHand}}</th>
              
              <th id="batchNo" class="width-percent-10">{{currentLanguageSet?.itemDispense?.batchNo}}</th>
              <th id="quantityOnHand" class="width-percent-10">{{currentLanguageSet?.inventory?.quantityOnHand}}</th>
              <th id="expiryDate" class="width-percent-10">{{currentLanguageSet?.itemDispense?.expiryDate}}</th>
              <th id="quantityDispensed" class="width-percent-10">{{currentLanguageSet?.quantityDispensed}}</th>
              
              <th id="delete" class="width-percent-10">{{currentLanguageSet?.inventory?.delete}}</th>
            </tr>
          </thead>
          <tbody *ngIf="systemDispenseList?.length > 0">
            <ng-container *ngFor="let item of md2.data; let i = index">
              <tr>
                <td class="width-percent-5">{{ systemDispenseList?.indexOf(item)+1 }}</td>
                <td class="width-percent-10">{{item?.itemName}}</td>
                <td class="width-percent-10">{{item?.itemDetails?.qOH}}</td>
                
                <td colspan="4" class="noPadding">
                  <table class="table inner_table table-striped" aria-describedby="systemDispenseDetails">
                    <caption></caption>  <!-- Table discription added SonarQube Fix -->
                    <th id=""></th>
                    <tr *ngFor='let batch of item?.itemBatchList'>
                      <td class="width-percent-25">{{batch?.batchNo}}</td>
                      <td class="width-percent-25">{{batch?.quantityInHand}}</td>
                      <td class="width-percent-25">{{batch?.expiryDate | date: 'dd/MM/yyyy'}}</td>
                      <td class="width-percent-25">{{batch?.quantity}}</td>
                    </tr>
                  </table>
                </td>
                
                <td class="width-percent-10">
                  <md-icon class="icon-remove cursorPointer" tooltip="{{currentLanguageSet?.inventory?.delete}}" (click)='removeSystemDispenseItem(item,i)'>delete</md-icon>
                </td>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <div class="row m-t-10 m-b-40" *ngIf="systemDispenseList?.length > 0">
    <div class="col-xs-12">
      <button type="button" md-raised-button color="accent" class="pull-right m-r-5" (click)="saveDispenseList()">{{currentLanguageSet?.common?.save}}</button>
    </div>
  </div>
</div>