.input-full-width {
    width: 100%;
}

.search-btn {
    cursor: pointer;
}

.vertical-align-middle {
    vertical-align: middle;
}

.icon-remove {
    margin: 16px;
}

.mat-form-field {
    line-height: unset !important;
}