<div class="container-fluid">
  <form [formGroup]="patientReturnForm" autocomplete="off">
    <div class="row m-t-10">
      <div class="col-xs-12 col-sm-6">
        <h4>
          {{currentLanguageSet?.inventory?.patientReturns}}
        </h4>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pull-right">
        <button md-raised-button class="pull-right button-full-width m-l-5" type="button" color="primary" routerLink="previousRecord">{{currentLanguageSet?.inventory?.previousRecords}}</button>
      </div>
    </div>

    <div class="row m-t-10">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngIf=!benSelected>
        <md-form-field class="input-full-width">
          <input mdInput required allowText="number" maxlength="12" name="beneficiaryIDOrPhoneNumber" formControlName="beneficiaryIDOrPhoneNumber"
            placeholder="{{currentLanguageSet?.inventory?.beneficiaryIDPhoneNumber}}" (keyup.enter)="identityQuickSearch(beneficiaryIDOrPhoneNumber)">
          <md-icon class="search-btn" mdSuffix (click)="identityQuickSearch(beneficiaryIDOrPhoneNumber)">search</md-icon>
        </md-form-field>
      </div>
     

    </div>
    <div class="row m-t-10">
      <div class="no-gutters" *ngIf="benSelected">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 box">
          <md-form-field class="input-full-width">
            <input autocomplete="off" maxlength="100" mdInput placeholder="{{currentLanguageSet?.bendetails?.beneficiaryID}}" name="beneficiaryID" id="beneficiaryID"
              formControlName="beneficiaryID">
          </md-form-field>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 box">
          <md-form-field class="input-full-width">
            <input autocomplete="off" maxlength="100" mdInput placeholder="{{currentLanguageSet?.bendetails?.beneficiaryName}}" name="name" id="name"
              formControlName="name">
          </md-form-field>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 box">
          <md-form-field class="input-full-width">
            <input autocomplete="off" maxlength="100" mdInput placeholder="{{currentLanguageSet?.bendetails?.age}}" name="age" id="age" formControlName="age">
          </md-form-field>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 box">
          <md-form-field class="input-full-width">
            <input autocomplete="off" maxlength="100" mdInput placeholder="{{currentLanguageSet?.bendetails?.gender}}" name="gender" id="gender"
              formControlName="gender">
          </md-form-field>
        </div>

      </div>
    </div>
  </form>

</div>
<app-item-batch-details-for-patient-return *ngIf="benSelected" [itemMasterList]='itemMasterList' [benRegId]='benRegId'
  (resetBenDetails)='resetBenDetails($event)'></app-item-batch-details-for-patient-return>