.input-full-width {
    width: 100%;
}

.searchBox {
    background: #fff;
    min-height: 40px;
    overflow: hidden;
    border-radius: 2px;
    border-width: 0px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
  }

  .search_icon {
    font-weight: bold;
  }

  .search_button {
    padding: 0;
    width: 40px;
    min-height: 40px;
    background: none;
    border: none;
    transform: scale(1);
    transition: all 1s;
    outline: none;
  }

  .search_button:active {
    outline: none;
    border: none;
  }

  .search_textbox {
    width: 100%;
    height: 40px;
    border: none;
    padding-left: 10px;
  }

  #search_type {
    margin-bottom: -1px;
  }

  .search_button:hover {
    transform: scale(1.5);
    transition: all 1s;
    outline: none;
    border: none;
  }

.width-percent-5 {
    width: 5%
}

.width-percent-10 {
    width: 10%
}

.inner_table {
    margin-bottom: 0px;
}

.noPadding {
    padding: 0px;
}

.width-percent-25 {
    width: 25%;
}

.m-r-5 {
    margin-right: 5px;
}

.box {
    height: 70px;
}

.search-btn {
    cursor: pointer;
}

