<div class="container-fluid">
  <div class="row m-t-10">
    <div class="col-xs-12 col-sm-6">
      <h4>{{currentLanguageSet?.inventory?.stockTransfer}}</h4>
    </div>
    <div class="col-xs-12 col-sm-6">
      <button md-raised-button class="pull-right button-full-width" type="button" color="primary" routerLink="View">{{currentLanguageSet?.inventory?.previousRecords}}</button>
    </div>
  </div>

  <form [formGroup]="stockTransferForm" autocomplete="off">
    <div class="row m-t-10">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-form-field [style.width]=" '100%' ">
          <input mdInput placeholder="{{currentLanguageSet?.inventory?.date}}" allowText="alphaspace" formControlName="dated">
        </md-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-form-field [style.width]=" '100%' ">
          <input required="true" mdInput placeholder="{{currentLanguageSet?.inventory?.referenceNumber}}" allowText="alphanumeric" maxlength="20" formControlName="referenceNumber">
        </md-form-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-select [style.width]=" '100%' " required="true" placeholder="{{currentLanguageSet?.inventory?.transferTo}}" formControlName="transferTo" (change)="resetItemArray();">
          <md-option *ngFor="let store of filterStore" [value]="store">
            {{store.facilityName}}
          </md-option>
        </md-select>
      </div>
    </div>

    <div class="row m-t-20" [@enterAnimation] *ngIf="checkReferences()">
      <div class="col-xs-12">
        <md-card>
          <div class="table-responsive">
            <table class="table table-striped responsive-table-form" aria-describedby="storeStockDetails">
              <caption></caption>  <!-- Table discription added SonarQube Fix -->
              <thead>
                <tr>
                  <th class="width5" id="noValue"></th>
                  <th class="width20" id="itemName">{{currentLanguageSet?.inventory?.itemName}}</th>
                  <th class="width20" id="batchNo">{{currentLanguageSet?.itemDispense?.batchNo}}</th>
                  <th class="width15" id="qOH">{{currentLanguageSet?.inventory?.qOH}}</th>
                  <th class="width10" id="quantity">{{currentLanguageSet?.inventory?.quantity}}</th>
                  <th class="width10" id="action">{{currentLanguageSet?.bendetails?.action}}</th>
                </tr>
              </thead>

              <tbody formArrayName="itemArray">
                <ng-container *ngFor="let transfers of stockTransferForm.controls['itemArray']['controls']; let i = index;">
                  <tr [formGroupName]="i">
                    <td class="vertical-align-middle">{{i+1}}</td>
                    <td>
                      <md-form-field class="input-full-width">
                        <input maxlength="100" allowText = "itemNameSearchValidator" mdInput appItemTransfer [stockForm]="transfers" [previousSelected]="stockTransferForm?.value?.itemArray"
                          name="itemName" placeholder="{{currentLanguageSet?.inventory?.itemName}}" formControlName="itemName" [errorStateMatcher]="matcher">
                        <md-icon *ngIf="!(transfers.controls['itemName'].disabled)" class="search-btn" mdSuffix appItemTransfer [stockForm]="transfers"
                          [previousSelected]="stockTransferForm?.value?.itemArray">search</md-icon>
                      </md-form-field>
                    </td>
                    <td>
                      <md-form-field class="input-full-width">
                        <input mdInput name="batchNo" placeholder="{{currentLanguageSet?.itemDispense?.batchNo}}" formControlName="batchNo" readonly [errorStateMatcher]="matcher">
                      </md-form-field>
                    </td>
                    <td>
                      <md-form-field class="input-full-width">
                        <input mdInput name="qoh" placeholder="{{currentLanguageSet?.inventory?.qOH}}" formControlName="qoh" readonly [errorStateMatcher]="matcher">
                      </md-form-field>
                    </td>
                    <td>
                      <md-form-field class="input-full-width">
                        <input mdInput name="quantity" allowText="number" placeholder="{{currentLanguageSet?.inventory?.quantity}}" formControlName="quantity" [attr.maxlength]="(''+transfers.value.qoh).length"
                          (change)="checkQuantityAvailable(i);" [disableFormControl]="!(transfers.value.itemStockEntryID)"
                          [errorStateMatcher]="matcher">
                      </md-form-field>
                    </td>
                    <td class="text-right">
                      <md-icon class="icon-remove cursorPointer" mdTooltip="{{currentLanguageSet?.inventory?.delete}}" (click)="removeTransfer(i, stockTransferForm.controls['itemArray'].controls.length)">delete</md-icon>
                    </td>
                  </tr>
                </ng-container>
                <tr *ngIf="stockTransferForm.controls['itemArray'].valid">
                  <td colspan="6">
                    <button md-mini-fab class="m-l-20 pull-right" color="primary" type="button" (click)="addTransfer()">
                      <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </md-card>
      </div>
    </div>

    <div class="row m-t-10 m-b-40">
      <div class="col-xs-12">
        <button md-raised-button color="accent" class="pull-right m-r-5" type="button" [disabled]="!stockTransferForm.valid" (click)="submitTransfers()">{{currentLanguageSet?.common?.save}}</button>
        <button md-raised-button color="primary" class="pull-right m-r-5" type="button" [disabled]="!(stockTransferForm.touched)"
          (click)="resetForm()">{{currentLanguageSet?.inventory?.clear}}</button>
      </div>
    </div>
  </form>
</div>