<div class="container-fluid">
  <form [formGroup]='systemDispenseForm'>
    <div class="row m-t-10">
      <div class="col-xs-12 col-sm-12">
        <div class="table-responsive">
          <table class="table table-striped responsive-table-form" aria-describedby="medicineDispenseDetails">
            <caption></caption> <!-- Table discription added SonarQube Fix -->
            <thead>
              <tr>
                <th class="width5" id="sNo">{{currentLanguageSet?.inventory?.sNo}}</th>
                <th class="width15" id="item">{{currentLanguageSet?.inventory?.item}}</th>
                <th class="width15" id="qtyinHand">{{currentLanguageSet?.inventory?.qtyinHand}}</th>
                <th class="width15" id="qtyRequired">{{currentLanguageSet?.inventory?.qtyRequired}}</th>
                <th class="width10" id="action">{{currentLanguageSet?.bendetails?.action}}</th>
              </tr>
            </thead>
            <tbody formArrayName='systemItemDispenseList'>
              <ng-container *ngFor="let systemItemDispense of systemDispenseForm.controls['systemItemDispenseList']['controls']; let i=index; let isLast=last;">
                <tr [formGroupName]="i">
                  <td class="vertical-align-middle"> {{ i+1 }} </td>
                  <td>
                    <md-form-field class="input-full-width">
                      <input mdInput allowText="itemNameSearchValidator" placeholder="{{currentLanguageSet?.inventory?.item}}" autocomplete="off" itemDispense [stockForm]="systemItemDispense" [dispenseItemList]='systemDispenseForm.value.systemItemDispenseList'
                        name="itemName" formControlName="itemName" (keyup)='resetDependent(systemItemDispense)' maxlength="100"
                        required>
                      <md-icon *ngIf="!(systemItemDispense.controls['itemName'].disabled)" class="search-btn" mdSuffix itemDispense [stockForm]="systemItemDispense"
                        [dispenseItemList]='systemDispenseForm.value.systemItemDispenseList'>search</md-icon>
                    </md-form-field>
                  </td>
                  <td>
                    <md-form-field class="input-full-width">
                      <input autocomplete="off" required placeholder="{{currentLanguageSet?.inventory?.qtyinHand}}" mdInput defaultNull allowText='number' name="quantityInHand"
                        formControlName="quantityInHand" [readonly]='true' [required]='true'>
                    </md-form-field>
                  </td>
                  <td>
                    <md-form-field class="input-full-width">
                      <input autocomplete="off" required placeholder="{{currentLanguageSet?.inventory?.qtyRequired}}" mdInput defaultNull allowText='number' [attr.maxlength]="(''+systemItemDispense.value.quantityInHand).length"
                        name="quantityRequired" formControlName="quantityRequired" (blur)="validateRequestedQuantity(systemItemDispense)"
                        [disableFormControl]="!systemItemDispense.value.quantityInHand" required>
                    </md-form-field>
                  </td>
                  <td>
                    <md-icon class="md-18 cursorPointer icon-remove" tooltip="{{currentLanguageSet?.inventory?.delete}}" (click)="removeItem(i, systemItemDispense)">delete</md-icon>
                  </td>
                </tr>
              </ng-container>
              <tr *ngIf="systemDispenseForm.controls['systemItemDispenseList'].valid">
                <td colspan="5">
                  <button class="pull-right" md-mini-fab color="primary" id='addBatch' (click)="initSystemDispenseMode()">
                    <md-icon class="md-18 cursorPointer">add</md-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-xs-12">
      <button md-raised-button class="pull-right" type="button" color="accent" [disabled]="!(systemDispenseForm.valid)" (click)='allocateBatch()'>{{currentLanguageSet?.inventory?.allocateBatch}}</button>
    </div>
  </div>
</div>