.input-full-width {
    width: 100%;
}

.mat-form-field {
    line-height: unset;
}

.m-b-40 {
    margin-bottom: 40px;
}

.m-r-5 {
    margin-right: 5px;
}

.icon-remove {
    margin: 16px;
}

.vertical-align-middle {
    vertical-align: middle;
}

.input-datepicker {
    padding: 5px 8px;
}

.search-btn {
    cursor: pointer;
}

.button-full-width  {
    margin-left: 5px;
}

@media screen and (max-width: 768px) {
    .button-full-width {
        width: 100%;
        margin-top: 5px;
        /* height: 50px; */
    }
}


.mat-select-placeholder {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mat-form-field-placeholder {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.box {
    height: 60px;
}

.width5 {
    width: 5%;
}

.width10 {
    width: 10%;
}

.width15 {
    width: 15%;
}

.width20 {
    width: 20%;
}
