.dialog-container {
    height: 100%;
    overflow-x: hidden;
}

.dialog-title {
    margin: 0px;
    padding: 15px 24px 15px;
    color: white;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    background: #0277bd;
}

.dialog-title h4 {
    display: inline-block;
}

.dialog-title .exit {
    cursor: pointer;
}

.scrolling-content {
    max-height: 75vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.input-full-width {
    width: 100%;
}

.m-b-20 {
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .search-btn {
        width: 100%;
    }
}

.enableScroll { height: 250px; flex: auto; }