<section class="container-fluid">
  <section class="row m-t-10 no-gutters">
    <div class="col-xs-12 col-sm-4 box">
      <h4>{{currentLanguageSet?.inventory?.previousStoreConsumption}}</h4>
    </div>
    <div class="col-xs-12 col-sm-3 box">
      <md2-datepicker class="input-full-width" (keydown)="preventTyping($event)" class="input-full-width" autocomplete="off" readonly="true"
        [min]="_minDate" [max]="_today" placeholder="{{currentLanguageSet?.inventory?.fromDate}}" required="true" id="from-input" [(ngModel)]="_dateRange[0]"  #startDate="ngModel" ngModel></md2-datepicker>
    </div>
    <div class="col-xs-12 col-sm-3 box">
      <md2-datepicker class="input-full-width" (keydown)="preventTyping($event)" class="input-full-width" [disabled]="!_dateRange[0]"
        autocomplete="off" readonly="true" [min]="_dateRange[0]" [max]="_today" placeholder="{{currentLanguageSet?.inventory?.toDate}}" required="true" id="to-input"
        [(ngModel)]="_dateRange[1]" #endDate="ngModel" ngModel></md2-datepicker>
        <span class="errorText f-s-10 p-l-10" *ngIf="(endDate.value < startDate.value)">{{currentLanguageSet?.inventory?.toDateCannotBeBeforeFromDate}}</span>
    </div>
    <div class="col-xs-12 col-sm-2 box">
      <button class="previous-btn" md-raised-button [disabled]="!_dateRange[0] || !_dateRange[1] || ((endDate.value < startDate.value))" type="button" color="accent"
        (click)="updateDate()">{{currentLanguageSet?.inventory?.viewRecords}}</button>
    </div>
    
  </section>

  <section class="row m-t-20">
    <div class="col-xs-12">
      <md-card class="m-b-40">
        <md-card-content>
          <div class="row">
            <div class="col-xs-12 text-right">
              <md-input-container id="filterbox">
                <input autocomplete="off" mdInput placeholder="{{currentLanguageSet?.common?.inTableSearch}}" [(ngModel)]="filterTerm" name="filterTerm" (keyup)="filterConsumptionList(filterTerm)">
                <md-icon class="mdIcon" mdSuffix>search</md-icon>
              </md-input-container>
            </div>
            <section class="col-xs-12 table-responsive">
              <table [md2Data]="_filteredConsumptionList" #md2="md2DataTable" [rowsPerPage]="5" [activePage]="1" class="table table-striped responsive-table-view" aria-describedby="viewStoreSelfDetails">
                <caption></caption>  <!-- Table discription added SonarQube Fix -->
                <thead>
                  <tr>
                    <th id=""></th>
                    <th id="consumptionID">{{currentLanguageSet?.inventory?.consumptionID}}</th>
                    <th id="refNo">{{currentLanguageSet?.inventory?.refNo}}</th>
                    <th id="reason">{{currentLanguageSet?.inventory?.reason}}</th>
                    <th id="createdBy">{{currentLanguageSet?.inventory?.createdBy}}</th>
                    <th id="createdDate">{{currentLanguageSet?.inventory?.createdDate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-template [ngIf]="_filteredConsumptionList && _filteredConsumptionList.length == 0 && !searched">
                    <tr *ngFor="let row of blankTable">
                      <td> &nbsp; </td>
                      <td> &nbsp; </td>
                      <td> &nbsp; </td>
                      <td> &nbsp; </td>
                      <td> &nbsp; </td>
                      <td> &nbsp; </td>
                    </tr>
                  </ng-template>
                  <ng-template [ngIf]="_filteredConsumptionList && _filteredConsumptionList.length == 0 && searched">
                    <tr>
                      <td colspan="6" style="text-align: center; font-size: 16px">
                        <strong>{{currentLanguageSet?.inventory?.norecordsfound}}</strong>
                      </td>
                    </tr>
                  </ng-template>
                  <tr *ngFor="let consumption of md2.data" class="table-hover">
                    <td data-title="S.No." (click)='loadConsumptionDetails(consumption)'>{{ _filteredConsumptionList.indexOf(consumption)+1 }}</td>
                    
                    <td data-title="Consumption ID" (click)='loadConsumptionDetails(consumption)'>{{consumption?.consumptionID}}</td>
                    <td data-title="Ref. No." (click)='loadConsumptionDetails(consumption)'>{{consumption?.refNo}}</td>
                    <td data-title="Reason" (click)='loadConsumptionDetails(consumption)'>{{consumption?.reason}}</td>
                    <td data-title="Created By" (click)='loadConsumptionDetails(consumption)'>{{consumption?.createdBy}}</td>
                    <td data-title="Created Date" (click)='loadConsumptionDetails(consumption)'>{{consumption?.createdDate | istDate: 'dd/MM/yyyy'}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr *ngIf="_filteredConsumptionList.length > 0">
                    <td colspan="3" class="total-count">
                      <div> {{currentLanguageSet?.inventory?.totalCount}} : {{ _filteredConsumptionList.length }}</div>
                    </td>
                    <td colspan="3" style="text-align: right">
                      <md2-pagination></md2-pagination>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </section>
          </div>
        </md-card-content>
        <md-card-actions>
          <div class="back-btn-container">
            <button md-raised-button mdTooltip="{{currentLanguageSet?.inventory?.back}}" mdTooltipPosition="right" color="primary" (click)="goBack()">{{currentLanguageSet?.inventory?.back}}</button>
          </div>
        </md-card-actions>
      </md-card>
    </div>
  </section>
</section>