<section class="container-fluid" *ngIf="!enableDispensary">
  <section class="row m-t-10 no-gutters">

    <div class="col-xs-12 col-sm-6">
      <h4>{{currentLanguageSet?.inventory?.mainStoreIndentOrderWorklist}}</h4>
    </div>
    <div class="col-xs-12 col-sm-6">
        <button md-raised-button class="pull-right button-full-width" type="button" color="primary" *ngIf="enableIndentReceipt" (click)='routingPath()'>{{currentLanguageSet?.inventory?.indentReceipt}}</button>
      </div>

  </section>

  <section class="row m-t-10 m-b-40">
    <div class="col-xs-12">
      <md-card>
        <md-card-content>
          <div class="row">
            
            <div class="col-xs-12 m-t-10">
              <div class="table-responsive">
                <table [md2Data]="mainstoreOrderlist" #md2="md2DataTable" [rowsPerPage]="5" [activePage]="1" class="table table-striped responsive-table-view" aria-describedby="workListDetails">
                  <caption></caption>  <!-- Table discription added SonarQube Fix -->
                  <thead>
                    <tr class="text-nowrap">
                      <th id="noValue" class="width5"></th>
                      <th id="indentID" class="width15">{{currentLanguageSet?.inventory?.indentID}}</th>
                      <th id="refernceNo" class="width15">{{currentLanguageSet?.inventory?.referenceNo}}</th>
                      <th id="requestDate" class="width15" md2SortBy="createdDate">{{currentLanguageSet?.inventory?.requestDate}}</th>
                      <th id="view" class="width10">{{currentLanguageSet?.inventory?.view}}</th>
                      <th id="action" class="width15">{{currentLanguageSet?.bendetails?.action}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let orderlist of md2.data" class="table-hover">
                      <td data-title="S.No.">{{ mainstoreOrderlist.indexOf(orderlist)+1 }}</td>
                      <td data-title="Indent ID">{{orderlist?.indentID}}</td>
                      <td data-title="Reference No.">{{orderlist?.refNo}}</td>
                      <td data-title="Request Date">{{orderlist?.createdDate | utcDate | date : 'dd/MM/yyyy'}}</td>
                      <td data-title="View">
                        <md-icon (click)="viewItemListDetails(orderlist)">remove_red_eye</md-icon>
                      </td>
                      <td>
                        <button md-raised-button class="button-full-width" type="button" color="accent" (click)="viewItemListDetailsForDispense(orderlist)">{{currentLanguageSet?.inventory?.accept}}</button>
                        <button md-raised-button class="button-full-width" type="button" color="warn" (click)="rejectIndent(orderlist)">{{currentLanguageSet?.inventory?.reject}}</button>
                      </td>
                    </tr>
                    <tr *ngIf="mainstoreOrderlist.length == 0">
                      <td colspan="6" style="text-align: center; font-size: 16px">
                        <strong>{{currentLanguageSet?.inventory?.norecordsfound}}</strong>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr *ngIf="mainstoreOrderlist.length > 0">
                      <td colspan="3" class="total-count">
                        <div> {{currentLanguageSet?.inventory?.totalCount}} : {{ mainstoreOrderlist.length }}</div>
                      </td>
                      <td colspan="3" style="text-align:right">
                        <md2-pagination></md2-pagination>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </section>
</section>
