<section class="container-fluid">
  <section class="row m-t-10 no-gutters">

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 box">
      <h4>{{currentLanguageSet?.inventory?.previousStockTransfer}}</h4>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 box">
      
      <md2-datepicker (keydown)="preventTyping($event)" class="input-full-width" autocomplete="off" readonly="true" [min]="_minDate"
        [max]="_today" placeholder="{{currentLanguageSet?.inventory?.fromDate}}" required="true" id="from-input" [(ngModel)]="_dateRange[0]" #startDate="ngModel" ngModel></md2-datepicker>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 box">
      
      <md2-datepicker (keydown)="preventTyping($event)" class="input-full-width" [disabled]="!_dateRange[0]" autocomplete="off"
        readonly="true" [min]="_dateRange[0]" [max]="_today" placeholder="{{currentLanguageSet?.inventory?.toDate}}" required="true" id="to-input" [(ngModel)]="_dateRange[1]"  #endDate="ngModel" ngModel></md2-datepicker>
        <span class="errorText f-s-10 p-l-10" *ngIf="(endDate.value < startDate.value)">{{currentLanguageSet?.inventory?.toDateCannotBeBeforeFromDate}}</span>
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 box">
      <button class="previous-btn" md-raised-button [disabled]="!_dateRange[0] || !_dateRange[1] || ((endDate.value < startDate.value))" type="button" color="accent"
        (click)="updateDate()">{{currentLanguageSet?.inventory?.viewRecords}}</button>
    </div>

  </section>

  <section class="row m-t-20">
    <div class="col-xs-12">
      <md-card>
        <md-card-content>
          <div class="row">
            <div class="col-xs-12 col-sm-12 text-right">
              <md-input-container id="filterbox">
                <input autocomplete="off" mdInput placeholder="{{currentLanguageSet?.common?.inTableSearch}}" [(ngModel)]="filterTerm" name="filterTerm" (keyup)="filterConsumptionList(filterTerm)">
                <md-icon mdSuffix>search</md-icon>
              </md-input-container>
            </div>
            <div class="col-xs-12">
              <div class="table-responsive">
                <table [md2Data]="_filteredStockEntryList" #md2="md2DataTable" [rowsPerPage]="5" [activePage]="1" class="table table-striped responsive-table-view" aria-describedby="viewStoreStockDetails">
                  <caption></caption>  <!-- Table discription added SonarQube Fix -->
                  <thead>
                    <tr class="text-nowrap">
                      <th id=""></th>
                      <th id="refNo">{{currentLanguageSet?.inventory?.refNo}}</th>
                      <th id="transferID">{{currentLanguageSet?.inventory?.transferID}}</th>
                      <th id="transferFrom">{{currentLanguageSet?.inventory?.transferFrom}}</th>
                      <th id="transferTo">{{currentLanguageSet?.inventory?.transferTo}}</th>
                      <th id="createdBy">{{currentLanguageSet?.inventory?.createdBy}}</th>
                      <th id="createdDate">{{currentLanguageSet?.inventory?.createdDate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-template [ngIf]="_filteredStockEntryList && _filteredStockEntryList.length == 0 && !searched">
                      <tr *ngFor="let row of blankTable">
                        <td> &nbsp; </td>
                        <td> &nbsp; </td>
                        <td> &nbsp; </td>
                        <td> &nbsp; </td>
                        <td> &nbsp; </td>
                        <td> &nbsp; </td>
                        <td> &nbsp; </td>
                      </tr>
                    </ng-template>
                    <ng-template [ngIf]="_filteredStockEntryList && _filteredStockEntryList.length == 0 && searched">
                      <tr>
                        <td colspan="7" style="text-align: center; font-size: 16px">
                          <strong>{{currentLanguageSet?.inventory?.norecordsfound}}</strong>
                        </td>
                      </tr>
                    </ng-template>
                    <tr *ngFor="let entry of md2.data" class="table-hover">
                      <td data-title="S.No." [ngClass]="{'transfer': true, 'transfer-in': ourStore == entry?.transferToID, 'transfer-out': ourStore == entry?.transferFromID}"
                        (click)="loadEntryDetails(entry)">{{ _filteredStockEntryList.indexOf(entry)+1 }}</td>
                      
                      <!-- temporary benRegID we are showing as benID -->
                      <td data-title="Ref.No." (click)="loadEntryDetails(entry)">{{entry?.refNo}}</td>
                      <td data-title="Transfer ID" (click)="loadEntryDetails(entry)">{{entry?.stockTransferID}}</td>
                      <td data-title="Transfer From" (click)='loadEntryDetails(entry)'>{{entry?.transferFromFacility}}</td>
                      <td data-title="Transfer To" (click)='loadEntryDetails(entry)'>{{entry?.transferToFacility}}</td>
                      <td data-title="Created By" (click)='loadEntryDetails(entry)'>{{entry?.createdBy}}</td>
                      <td data-title="Created Date" (click)='loadEntryDetails(entry)'>{{entry?.createdDate | istDate: 'dd/MM/yyyy'}}</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr *ngIf="_filteredStockEntryList.length > 0">
                      <td colspan="2" class="total-count">
                        <div> {{currentLanguageSet?.inventory?.totalCount}} : {{ _filteredStockEntryList.length }}</div>
                      </td>
                      <td colspan="2">
                        <ul class="description">
                          <li>
                            <div class="transfer-in-marker"></div>
                            <p>{{currentLanguageSet?.inventory?.transferIn}}</p>
                          </li>
                          <li>
                            <div class="transfer-out-marker"></div>
                            <p>{{currentLanguageSet?.inventory?.transferOut}}</p>
                          </li>
                        </ul>
                      </td>
                      <td colspan="3" style="text-align:right">
                        <md2-pagination></md2-pagination>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </md-card-content>
        <md-card-actions>
          <div class="back-btn-container">
            <button md-raised-button mdTooltip="{{currentLanguageSet?.inventory?.back}}" mdTooltipPosition="right" color="primary" (click)="goBack()">{{currentLanguageSet?.inventory?.back}}</button>
          </div>
        </md-card-actions>
      </md-card>
    </div>
  </section>
</section>