<div id="head">
    <h4 id="dialog_head" class="pull-left">{{currentLanguageSet?.inventory?.dispenseDetails}}</h4>
    <md-icon id="cross" class="pull-right" md-dialog-close mdTooltip="{{currentLanguageSet?.inventory?.close}}" (click)="dialogRef.close(false)">close</md-icon>
</div>

<div class="scrolling-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <table class="table" aria-describedby="medicineDetailsDetails">
                    <caption></caption>  <!-- Table discription added SonarQube Fix -->
                    <tbody>
                        <tr>
                            <th id="patientName">{{currentLanguageSet?.inventory?.patientName}}:</th>
                            <td colspan="3"> {{data?.dispense?.patientName}}</td>
                        </tr>
                        <tr>
                            <th id="issueType">{{currentLanguageSet?.inventory?.issueType}}:</th>
                            <td> {{data?.dispense?.issueType}}</td>
                            <th id="createdBy">{{currentLanguageSet?.inventory?.createdBy}}:</th>
                            <td> {{data?.dispense?.createdBy}}</td>
                        </tr>
                        <tr>
                            <th id="reference">{{currentLanguageSet?.inventory?.reference}}:</th>
                            <td> {{data?.dispense?.reference}}</td>
                            <th id="createdDate">{{currentLanguageSet?.inventory?.createdDate}}:</th>
                            <td> {{data?.dispense?.createdDate | istDate: 'dd/MM/yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 text-right">
                <md-input-container id="filterbox">
                    <input autocomplete="off" autofocus="off" tabindex="-1" mdInput placeholder="{{currentLanguageSet?.common?.inTableSearch}}" [(ngModel)]="_filterTerm" name="filterTerm"
                        (keyup)="filterDetails(_filterTerm)">
                    <md-icon mdSuffix>search</md-icon>
                </md-input-container>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <section class="table-responsive">
                    <table [md2Data]="_filteredDetailedList" #md2="md2DataTable" [rowsPerPage]="5" [activePage]="1" class="table table-striped responsive-table-view" aria-describedby="medicineDispenseDetails">
                        <caption></caption>  <!-- Table discription added SonarQube Fix -->
                        <thead>
                            <tr>
                                <th id="noValue"></th>
                                <th id="itemName">{{currentLanguageSet?.inventory?.itemName}}</th>
                                <th id="batchNo">{{currentLanguageSet?.itemDispense?.batchNo}}</th>
                                <th id="expiryDate">{{currentLanguageSet?.itemDispense?.expiryDate}}</th>
                                <th id="quantity">{{currentLanguageSet?.inventory?.quantity}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="md2.data?.length === 0">
                                <td colspan="5" style="text-align: center; font-size: 16px">
                                  <strong>{{currentLanguageSet?.inventory?.norecordsfound}}</strong>
                                </td>
                              </tr>
                            <tr *ngFor="let item of md2.data">
                                <td data-title="S.No.">{{ _filteredDetailedList.indexOf(item)+1 }}</td>
                                <td data-title="Item Name">{{item?.itemName}}</td>
                                <td data-title="Batch No.">{{item?.batchNo}}</td>
                                <td data-title="Expiry Date">{{item?.expiryDate | date: 'dd/MM/yyyy'}}</td>
                                <td data-title="Quantity">{{item?.quantity}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr *ngIf="_filteredDetailedList?.length > 0">
                                <td colspan="3" class="total-count">
                                    <div> {{currentLanguageSet?.inventory?.totalCount}} : {{ _filteredDetailedList.length }}</div>
                                </td>
                                <td colspan="3" class="text-right">
                                    <md2-pagination></md2-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </section>
            </div>
        </div>

        <div class="row m-b-15">
            <div class="col-xs-12">
                <button class="pull-right" md-raised-button color="primary" type="button" (click)='print()' tabindex="-1">{{currentLanguageSet?.inventory?.print}}</button>
            </div>
        </div>
    </div>
</div>