#head {
  background: #0277bd;
  color: white;
  height: 51px;
  width: 100%;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
}

#dialog_head {
  margin: 0;
  padding: 0;
}

h5 {
  display: inline-block;
}

#cross {
  cursor: pointer;
}

#dialog_row {
  padding: 15px;
}

.h5_bold {
  font-weight: bold;
}

.m-b-15 {
  margin-bottom: 15px;
}

.scrolling-content {
  max-height: 75vh;
  overflow: auto;
}