<section class="container-fluid">
  <section class="row no-gutters m-t-10">
    <div class="col-xs-12 col-sm-4 box">
      <h4>{{currentLanguageSet?.inventory?.previousPatientIssueWithoutRx}}</h4>
    </div>
    <div class="col-xs-12 col-sm-3 box">
     
      <md2-datepicker class="input-full-width" (keydown)="preventTyping($event)" class="input-full-width" autocomplete="off" readonly="true"
        [min]="_minDate" [max]="_today" placeholder="{{currentLanguageSet?.inventory?.fromDate}}" required="true" id="from-input" [(ngModel)]="_dateRange[0]" #startDate="ngModel" ngModel></md2-datepicker>
    </div>
    <div class="col-xs-12 col-sm-3 box">
      
      <md2-datepicker class="input-full-width" (keydown)="preventTyping($event)" class="input-full-width" [disabled]="!_dateRange[0]"
        autocomplete="off" readonly="true" [min]="_dateRange[0]" [max]="_today" placeholder="{{currentLanguageSet?.inventory?.toDate}}" required="true" id="to-input"
        [(ngModel)]="_dateRange[1]" #endDate="ngModel" ngModel></md2-datepicker>
        <span class="errorText f-s-10 p-l-10" *ngIf="(endDate.value < startDate.value)">{{currentLanguageSet?.inventory?.toDateCannotBeBeforeFromDate}}</span>
    </div>
    <div class="col-xs-12 col-sm-2 box">
      <button class="previous-btn" md-raised-button [disabled]="!_dateRange[0] || !_dateRange[1] || ((endDate.value < startDate.value))" type="button" color="accent"
        (click)="updateDate()">{{currentLanguageSet?.inventory?.viewRecords}}</button>
    </div>
    
  </section>

  <section class="row m-t-10">
    <div class="col-xs-12">
      <md-card class="m-b-40">
        <md-card-content>
          <div class="row">
            <div class="col-xs-12 text-right">
              <md-input-container id="filterbox">
                <input autocomplete="off" mdInput placeholder="{{currentLanguageSet?.common?.inTableSearch}}" [(ngModel)]="filterTerm" name="filterTerm" (keyup)="filterConsumptionList(filterTerm)">
                <md-icon mdSuffix>search</md-icon>
              </md-input-container>
            </div>
            <section class="col-xs-12 table-responsive">
              <table [md2Data]="_filteredDispenseList" #md2="md2DataTable" [rowsPerPage]="5" [activePage]="1" class="table table-striped responsive-table-view" aria-describedby="medicineDispenseDetails">
                <caption></caption>  <!-- Table discription added SonarQube Fix -->
                <thead>
                  <tr>
                    <th id="noValue"></th>
                    <th id="issueID">{{currentLanguageSet?.inventory?.issueID}}</th>
                    <th id="patientName">{{currentLanguageSet?.inventory?.patientName}}</th>
                    <th id="reference">{{currentLanguageSet?.inventory?.reference}}</th>
                    <th id="issueType">{{currentLanguageSet?.inventory?.issueType}}</th>
                    <th id="createdBy">{{currentLanguageSet?.inventory?.createdBy}}</th>
                    <th id="createdDate">{{currentLanguageSet?.inventory?.createdDate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-template [ngIf]="_filteredDispenseList && _filteredDispenseList.length == 0 && !searched">
                    <tr *ngFor="let row of blankTable">
                      <td> &nbsp; </td>
                      <td> &nbsp; </td>
                      <td> &nbsp; </td>
                      <td> &nbsp; </td>
                      <td> &nbsp; </td>
                      <td> &nbsp; </td>
                      <td> &nbsp; </td>
                    </tr>
                  </ng-template>
                  <ng-template [ngIf]="_filteredDispenseList && _filteredDispenseList.length == 0 && searched">
                    <tr>
                      <td colspan="7" style="text-align: center; font-size: 16px">
                        <strong>{{currentLanguageSet?.inventory?.norecordsfound}}</strong>
                      </td>
                    </tr>
                  </ng-template>
                  <tr *ngFor="let dispense of md2.data" class="table-hover">
                    <td data-title="S.No." (click)="loadDispenseDetails(dispense)">{{ _filteredDispenseList.indexOf(dispense)+1 }}</td>
                    
                    <td data-title="Issue ID" (click)="loadDispenseDetails(dispense)">{{dispense?.patientIssueID}}</td>
                    <td data-title="Patient Name" (click)="loadDispenseDetails(dispense)">{{dispense?.patientName}}</td>
                    <td data-title="Reference" (click)='loadDispenseDetails(dispense)'>{{dispense?.reference}}</td>
                    <td data-title="Issue Type" (click)='loadDispenseDetails(dispense)'>{{dispense?.issueType}}</td>
                    <td data-title="Created By" (click)='loadDispenseDetails(dispense)'>{{dispense?.createdBy}}</td>
                    <td data-title="Created Date" (click)='loadDispenseDetails(dispense)'>{{dispense?.createdDate | istDate: 'dd/MM/yyyy'}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr *ngIf="_filteredDispenseList.length > 0">
                    <td colspan="3" class="total-count">
                      <div> {{currentLanguageSet?.inventory?.totalCount}} : {{ _filteredDispenseList.length }}</div>
                    </td>

                    <td colspan="4" style="text-align: right">
                      <md2-pagination></md2-pagination>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </section>
          </div>
        </md-card-content>
        <md-card-actions>
          <div class="back-btn-container">
            <button md-raised-button mdTooltip="{{currentLanguageSet?.inventory?.back}}" mdTooltipPosition="right" color="primary" (click)="goBack()">
              {{currentLanguageSet?.inventory?.back}} </button>
          </div>
        </md-card-actions>
      </md-card>
    </div>
  </section>
</section>