#head {
  background: #0277bd;
  color: white;
  height: 51px;
  width: 100%;
  padding: 20px;
}

#dialog_head {
  margin: 0;
  padding: 0;
}

#cross {
  cursor: pointer;
}

#dialog_row {
  padding: 24px;
}

.h5_bold {
  font-weight: bold;
}

.input-full-width {
  width: 100%;
}

.box {
  height: 60px;
}

.back-btn-container {
  margin: -26px 15px 15px;
}

.previous-btn {
  margin: 5px 0px;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

@media screen and (max-width: 768px) {
  .previous-btn {
    width: 100%;
  }
}