.mdList {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
}

.mdCard {
    width: 400px;
    margin-top: 5%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5%;
    border-radius: 5px;
    box-shadow: 0px 0px 20px gray;
}

.formIcons {
    padding-top: 30px;
    color: gray;
}

.full-width {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.f-c-54 {
    color: #545454 !important;
}
