.mat-expansion-panel-header {
  background: rgba(37, 55, 70, 0.2);
}

.mdPanel {
  margin: 0.5%;
}

/* ::ng-deep md-expansion-panel-header > .mat-content {
  display: block;
} */

.input-full-width {
  width: 100%;
}

.select-full-width {
  width: 100%;
}

.mat-form-field {
  line-height: unset !important;
}

.add-button {
  width: 100%;
  min-height: 45px;
  font-weight: bold;
  height: 100%
}

fieldset {
  display: block;
  -webkit-margin-start: 2px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
  min-width: -webkit-min-content;
  border-width: 1px;
  border-style: groove;
  border-color: azure;
  border-image: initial;
}

legend {
  display: block;
  width: unset;
  -webkit-padding-start: 2px;
  -webkit-padding-end: 2px;
  border: unset;
}

.fieldset {
  background-color: rgba(240, 245, 245, 0.5);
}

@media only screen and (min-width: 980px) {
  .right-padding-remove-desktop {
    padding-right: 0 !important;
  }
  .left-padding-remove-desktop {
    padding-left: 0 !important;
  }
}

.width5 {
  width: 5%;
}

.width10 {
  width: 10%;
}

.width20 {
  width: 20%;
}
