<div id="head">
  <h4 id="dialog_head" class="pull-left">{{currentLanguageSet?.inventory?.stockEntryDetails}}</h4>
  <md-icon id="cross" class="pull-right" tooltip="{{currentLanguageSet?.inventory?.close}}" md-dialog-close (click)="dialogRef.close(false)">clear</md-icon>
</div>

<div class="scrolling-content">
  <div class="container-fluid">
    <table class="table" aria-describedby="viewStockDetails">
      <caption></caption>  <!-- Table discription added SonarQube Fix -->
      <tbody>
        <tr>
          <th id="stockEntryID">{{currentLanguageSet?.inventory?.stockEntryID}}</th>
          <td colspan="3"> {{data?.stockEntry?.phyEntryID}}</td>
        </tr>
        <tr>
          <th id="refNo">{{currentLanguageSet?.inventory?.refNo}}</th>
          <td> {{data?.stockEntry?.refNo}}</td>
          <th id="storeID">{{currentLanguageSet?.inventory?.storeID}}</th>
          <td> {{data?.stockEntry?.facilityID}}</td>
        </tr>
        <tr>
          <th id="createdBy">{{currentLanguageSet?.inventory?.createdBy}}</th>
          <td> {{data?.stockEntry?.createdBy}}</td>
          <th id="createdDate">{{currentLanguageSet?.inventory?.createdDate}}</th>
          <td> {{data?.stockEntry?.createdDate | istDate: 'dd/MM/yyyy'}}</td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col-xs-12 col-sm-12 text-right">
        <md-input-container id="filterbox">
          <input autocomplete="off" tabindex="-1" mdInput placeholder="{{currentLanguageSet?.common?.inTableSearch}}" [(ngModel)]="_filterTerm" name="filterTerm"
            (keyup)="filterDetails(_filterTerm)">
          <md-icon mdSuffix>search</md-icon>
        </md-input-container>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <section class="table-responsive">
          <table [md2Data]="_filteredDetailedList" #md2="md2DataTable" [rowsPerPage]="5" [activePage]="1" class="table table-striped responsive-table-view" aria-describedby="viewStockDetails">
            <caption></caption>  <!-- Table discription added SonarQube Fix -->
            <thead>
              <tr>
                <th id="noValue"></th>
                <th id="itemName">{{currentLanguageSet?.inventory?.itemName}}</th>
                <th id="batchNo">{{currentLanguageSet?.itemDispense?.batchNo}}</th>
                <th id="expiryDate">{{currentLanguageSet?.itemDispense?.expiryDate}}</th>
                <th id="quantity">{{currentLanguageSet?.inventory?.quantity}}</th>
              </tr>
            </thead>
            <tbody>
              <ng-template [ngIf]="_filteredDetailedList && _filteredDetailedList.length == 0">
                <tr *ngFor="let row of blankTable">
                  <td> &nbsp; </td>
                  <td> &nbsp; </td>
                  <td> &nbsp; </td>
                  <td> &nbsp; </td>
                  <td> &nbsp; </td>
                </tr>
              </ng-template>
              <tr *ngFor="let item of md2.data">
                <td data-title="S.No.">{{ _filteredDetailedList.indexOf(item)+1 }}</td>
                <td data-title="Item Name">{{item?.item.itemName}}</td>
                <td data-title="Batch No.">{{item?.batchNo}}</td>
                <td data-title="Expiry Date">{{item?.expiryDate | date: 'dd/MM/yyyy'}}</td>
                <td data-title="Quantity">{{item?.quantity}}</td>
              </tr>
            </tbody>
            <tfoot *ngIf="_filteredDetailedList.length > 0">
              <tr>
                <td colspan="3" class="total-count">
                  <div> {{currentLanguageSet?.inventory?.totalCount}} : {{ _filteredDetailedList.length }}</div>
                </td>
                <td colspan="3" class="text-right">
                  <md2-pagination></md2-pagination>
                </td>
              </tr>
            </tfoot>
          </table>
        </section>
      </div>
    </div>

    <div class="row m-b-15">
      <div class="col-xs-12">
        <button class="pull-right" md-raised-button color="primary" type="button" tabindex="-1" (click)='print()'>{{currentLanguageSet?.inventory?.print}}</button>
      </div>
    </div>
  </div>
</div>