<div class="container-fluid">
  <div class="row m-t-10">
    <div class="col-xs-12 col-sm-6">
      <h4>{{currentLanguageSet?.inventory?.indentDispenses}}</h4>
    </div>
  </div>
  <div class="row m-t-20">
    <div class="col-xs-12 col-sm-6">
      <md-radio-group [(ngModel)]="issueType" class="radio-group pull-left">
        <md-radio-button class="radio-button m-a-5" disableRipple="true" color="primary" value="1">
          {{currentLanguageSet?.itemDispense?.systemIssue}}
        </md-radio-button>
        <md-radio-button class="radio-button m-a-5" disableRipple="true" color="primary" value="0">
          {{currentLanguageSet?.itemDispense?.manualIssue}}
        </md-radio-button>
      </md-radio-group>
    </div>
  </div>
</div>
<app-manual-indent-dispense *ngIf="issueType == 0"></app-manual-indent-dispense>
<app-system-indent-dispense *ngIf="issueType == 1"></app-system-indent-dispense>